<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <sessionState mode="InProc" timeout="600"/>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" requestLengthDiskThreshold="107520"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
      <namespaces>
        <add namespace="System.Runtime.Serialization"/>
        <add namespace="System.ServiceModel"/>
        <add namespace="System.ServiceModel.Web"/>
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="LoginCookieName" loginUrl="~/login.aspx"/>
    </authentication>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
	

	
	
	<appSettings>
		<!-- jQuery File Upload Directory-->
		<add key="UploadFilesTempBasePath" value=""/>
		<add key="UploadFilesTempPath" value="docs\jQueryFileUpload\"/>
		<add key="UploadFilesMaximumFileSize" value="1000000"/>
		<add key="UploadFilesPrefix" value="docs"/>
		<!-- value in KB -->
	</appSettings>

	<location path="UserLogin.ashx">
		  <system.web>
			  <authorization>
				  <allow users="*"/>
				 <!-- <deny users="*"/>-->
			  </authorization>
		  </system.web>
	  </location>
  <connectionStrings>
    <!--<add name="UserManagement" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_SYS_SJZGL_Usermanagement2014_20140807;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>
    <add name="FacilityManagement" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_SYS_SJZGL_FacilityManagement2014_20140807;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>
    <add name="PDAInspect" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_APP_SJZGL_RoadInspectCaseDatabase2014_201404807;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>-->
	  
	  
	  
    <!--<add name="UserManagement" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_SYS_JCGL_Usermanagement2015_20150119;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>
    <add name="FacilityManagement" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_SYS_JCGL_FacilityManagement2015_20150119;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>
    <add name="PDAInspect" connectionString="Data Source=10.1.0.161;Initial Catalog=SUP_APP_JCGL_RoadInspectCaseDatabase2015_20150119;User ID=sa;Password=ghjsj" providerName="System.Data.SqlClient"/>-->

	  <add name="UserManagement" connectionString="Data Source=10.1.0.181;Initial Catalog=TJX_SYS_AJHB_UserManagement2015_20151229;User ID=sa;Password=SQyzw2016-05" providerName="System.Data.SqlClient"/>
	  <add name="FacilityManagement" connectionString="Data Source=10.1.0.181;Initial Catalog=TJX_SYS_AJHB_FacilityManagement2015_20151229;User ID=sa;Password=SQyzw2016-05" providerName="System.Data.SqlClient"/>
	  <add name="PDAInspect" connectionString="Data Source=10.1.0.181;Initial Catalog=TJX.APP_AJHB_SafetySupervision2015_20151229;User ID=sa;Password=SQyzw2016-05" providerName="System.Data.SqlClient"/>
	  <add name="CurrentSituation" connectionString="Data Source=10.1.0.104;Initial Catalog=TJX_ChangfangDatabase;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	  
	<!--  <add name="UserManagement" connectionString="Data Source=127.0.0.1;Initial Catalog=TJX_SYS_AJHB_UserManagement2015_20151229;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="FacilityManagement" connectionString="Data Source=127.0.0.1;Initial Catalog=TJX_SYS_AJHB_FacilityManagement2015_20151229;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="PDAInspect" connectionString="Data Source=127.0.0.1;Initial Catalog=TJX.APP_AJHB_SafetySupervision2015_20151229;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	  <add name="CurrentSituation" connectionString="Data Source=127.0.0.1\MSSQLServer2008;Initial Catalog=TJX_ChangfangDatabase;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	 -->
	  
	  <!--<add name="Sup_App_ChengGuanTaiZhang_20110314ConnectionString" connectionString="Data Source=10.1.115.6;Initial Catalog=Sup_App_ChengGuanTaiZhang_20110610;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

	<!--<uri>
		<schemeSettings>
			<clear />
			<add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
			<add name="https" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
		</schemeSettings>
	</uri>

	<system.net>
		<settings>
			<httpListener unescapeRequestUrl="false"/>
		</settings>
	</system.net>-->
	
  <system.webServer>
	  <!--<httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Content-Range, Content-Disposition, Content-Description" />
			  <add name="Access-Control-Allow-Methods" value="DELETE, HEAD, GET, OPTIONS, POST, PUT" />
			  <add name="Access-Control-Max-Age" value="1728000" />
		  </customHeaders>
	  </httpProtocol>-->
	  
	  
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" name="ASPxHttpHandlerModule"/>
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v11.1, Version=11.1.8.0, Culture=neutral, PublicKeyToken=d50d9a29adb250d4" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <remove value="index.php"/>
        <remove value="Default.htm"/>
        <add value="Logo_1.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <devExpress>
    <settings rightToLeft="false"/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpGetEnabled="true"/>
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

	 <!-- <bindings>
		  <webHttpBinding>
			  <binding maxBufferSize="2147483647"
					   maxBufferPoolSize="2147483647"
					   maxReceivedMessageSize="2147483647"
					   transferMode="Streamed"
					   sendTimeout="00:05:00" closeTimeout="00:05:00" receiveTimeout="00:05:00">
				  <readerQuotas  maxDepth="2147483647"
								 maxStringContentLength="2147483647"
								 maxArrayLength="2147483647"
								 maxBytesPerRead="2147483647"
								 maxNameTableCharCount="2147483647"/>
				  <security mode="None" />
			  </binding>
		  </webHttpBinding>
	  </bindings>-->

	  <standardEndpoints>
		  <webHttpEndpoint>
			  <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
			  <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" maxReceivedMessageSize="4194304" transferMode="Buffered" />
		  </webHttpEndpoint>
	  </standardEndpoints>
  </system.serviceModel>
</configuration>