<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">

    <serverUrls>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/外业点位图map20151207/MapServer"
                   matchAll="true"/>
    </serverUrls>
    <serverUrls>
        <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/kgmap/MapServer"
                   matchAll="true"/>
    </serverUrls>

    <serverUrls>
    <serverUrl url="http://60.29.110.104:6080/arcgis/rest/services/一张网/一张网企业项目动态图map/MapServer"
                   matchAll="true"/>
    </serverUrls>

    <serverUrl url="http://60.29.110.104:6080/arcgis/rest/info?f=json"
                   matchAll="true"/>
    </serverUrls>

    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
    </serverUrls>

    <serverUrls>
        <serverUrl url="http://geoenrich.arcgis.com"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>
