<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">屏幕取点</a>
        </li>
        <!--<li role="presentation">-->
        <!--<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">地址搜索</a>-->
        <!--</li>-->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active tab1" id="home"  style="padding:10px">
            <div class="text-center" style="padding: 5px;">
                <div v-show=""></div>
                <h4> <label class="lable">{{pointResult[0].feature.attributes.UNAME}}</label></h4>
            </div>
            <div class="text-center" id="info" style="padding:30px;">
                <button class="btn btn-lg btn-primary positionPoint btn-block" value="point" @click="drawPoint">
                    <i class="fa fa-warning"></i> 屏幕取点
                    <!--<div id="positionPoint"></div>-->
                </button>
                <button class="btn btn-lg btn-warning positionPoint btn-block" value="point" @click="clearPoint">
                    清除危险源
                    <!--<div id="positionPoint"></div>-->
                </button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab2" id="profile"  style="padding:10px">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-4 control-label">输入地址</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputAddress" v-model="address"
                               name="address" placeholder="查询地址">
                    </div>
                </div>
            </form>
            <div class="text-center">
                <button class="btn btn-lg btn-primary searchBtn" id="searchPlace" @click="searchAddress">
                    <i class="fa fa-question"></i> 查询
                </button>
            </div>
        </div>
    </div>


</div>