<div xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#pipeLineLayer" aria-controls="topic" role="tab" data-toggle="tab">管线图层</a>
        </li>
        <li role="presentation">
            <a href="#search4" aria-controls="search" role="tab" data-toggle="tab">摄像头</a>
        </li>
        <!--<li role="presentation">-->
            <!--<a href="#result4" aria-controls="result" role="tab" data-toggle="tab">结果</a>-->
        <!--</li>-->
        <!--<li role="presentation">-->
            <!--<a href="#print4" aria-controls="print" role="tab" data-toggle="tab">打印</a>-->
        <!--</li>-->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pipeLineLayer" style="padding:5px">
            <div class="text-center" style="padding: 30px;">
                <label class="label label-info" style="color: #000;font-size:16px;">选择下列地下图层，开关图层</label>
            </div>
            <br/>
            <div style="margin-left: 80px;">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" @change="closeAllPipeline" v-model="switchAll" name="chkItem">
                        全选
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="4" @change="switchPipeline" v-model="line" >
                        供电管线  <del style="color: red">　　　　　　　　　</del>
                    </label>
                </div>
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="5" @change="switchPipeline" v-model="line" >-->
                        <!--路灯电缆  <del style="color: #ffcc00">　　　　　　　　　</del>-->
                    <!--</label>-->
                <!--</div>-->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="6" @change="switchPipeline" v-model="line" >
                        燃气管线  <del style="color: darkgoldenrod">　　　　　　　　　</del>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="7" @change="switchPipeline" v-model="line" >
                        污水管线  <del style="color: #080808">　　　　　　　　　</del>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="8" @change="switchPipeline" v-model="line" >
                        雨水管线  <del style="color: #0265dc">　　　　　　　　　</del>
                    </label>
                </div>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane" id="search4">
            <div style='padding:15px 0'>
                <table class="table table-striped table-hover">
                   <tr>
                       <td><h3>摄像头1</h3></td>
                   </tr>
                    <tr>
                        <td><h3>摄像头2</h3></td>
                    </tr>
                    <tr>
                        <td><h3>摄像头3</h3></td>
                    </tr>
                    <tr>
                        <td><h3>摄像头4</h3></td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="result4">

        </div>

        <div role="tabpanel" class="tab-pane" id="print4">
            <form class="form-horizontal" style="padding: 20px;">
                <label for="docName" class="control-label" style="padding: 10px 0;"><h3>标题 ：</h3></label>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control input-lg" id="docName" name="docName"
                               style="padding: 10px 0;"
                               placeholder="打印文件名称" value="公共影响因素分析结果及处置建议">
                    </div>
                    <div class="form-group">
                        <label for="printFormat" class="col-sm-3 control-label" style="padding: 10px 0;">打印格式</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="printFormat">
                                <option value="JPG">JPG</option>
                                <option value="PNG32">PNG</option>
                                <option value="PDF">PDF</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="printLayout" class="col-sm-3 control-label" style="padding: 10px 0;">打印大小</label>

                        <div class="col-sm-8">
                            <select class="form-control" id="printLayout">
                                <option value="A4 Landscape">A4 横向</option>
                                <option value="A4 Portrait">A4 纵向</option>
                                <option value="A3 Landscape">A3 横向</option>
                                <option value="A3 Portrait">A3 纵向</option>
                                <option value="Letter ANSI A Landscape">Letter ANSI A Landscape</option>
                                <option value="Letter ANSI A Portrait">Letter ANSI A Portrait</option>
                                <option value="Tabloid ANSI B Landscape">Tabloid ANSI B Landscape</option>
                                <option value="Tabloid ANSI B Portrait">Tabloid ANSI B Portrait</option>
                                <option value="MAP_ONLY">只输出地图</option>
                            </select>
                        </div>
                    </div>

                </div>
            </form>
            <div class="text-center">
                <button class="btn btn-lg btn-primary searchBtn" id="printDoc">
                    <i class="glyphicon glyphicon-print"></i> 开 始 打 印
                </button>
            </div>
        </div>
    </div>
</div>