<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#modal2a" aria-controls="modal2a" role="tab" data-toggle="tab">接入点分析</a>
        </li>
        <li role="presentation">
            <a href="#modal2b" aria-controls="modal2b" role="tab" data-toggle="tab">手绘</a>
        </li>
        <li role="presentation">
            <a href="#modal2c" aria-controls="modal2c" role="tab" data-toggle="tab">ERG模型</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane tab1 active" id="modal2a" style="padding:30px">
            <form class="form-inline col-sm-offset-2">
                <div class="form-group">
                    <label for="inputBufferNum" class="col-sm-7 control-label">层　　 　级</label>
                    <div class="col-sm-4">
                        <!--<input type="number" class="form-control" id="inputEmail3" placeholder="1">-->
                        <select class="form-control" id="inputBufferNum" v-model="tab1.level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div><br><br>
                <div class="form-group">
                    <label class="col-sm-6 control-label" for="inputBufferDistance">缓冲区距离</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="inputBufferDistance" v-model="tab1.distance">
                            <option value='100'>100</option>
                            <option value='200'>200</option>
                            <option value='300'>300</option>
                            <option value='400'>400</option>
                            <option value='500'>500</option>
                            <option value='1000'>1000</option>
                            <option value='2000'>2000</option>
                            <option value='4000'>4000</option>
                        </select>
                    </div>
                </div>
            </form><br>
            <div class="text-center" style="margin-top: 15px">
                <button class="btn btn-sm btn-primary" id="btnBuffer" @click="tab1a" style="margin-right: 20px">
                    <i class="fa fa-question"></i> 分析
                </button>
                <button class="btn btn-sm btn-warning" id="btnCleanBuffer" @click="clearBuffer">
                    <i class="fa fa-phone"></i> 清除
                </button>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane tab2 col-sm-offset-2" id="modal2b" >
            <div style="padding:30px">
                <input class="label label-default">
                调色板
                </input>
                <input class="jscolor" value="#33FF33" type="text" v-model="tab2.color"><br><br>
                <button class="btn btn-sm btn-primary" value="rectangle" @click="Draw">
                    <i class="fa fa-question"></i> 矩形
                </button>
                <button class="btn btn-sm btn-primary" value="circle" @click="Draw">
                    <i class="fa fa-question"></i> 圆形
                </button>
                <button class="btn btn-sm btn-primary" value="polygon" @click="Draw">
                    <i class="fa fa-question"></i> 多边形
                </button>
                <button class="btn btn-sm btn-warning" value="freehandpolygon" @click="Draw">
                    <i class="fa fa-phone"></i> 手绘
                </button>
            </div>
            <br/>
            <div style="margin-top:-30px">
                <button class="btn btn-lg btn-warning col-sm-offset-1" @click="clearGraphic">
                    清除所有图形
                </button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane tab3" id="modal2c" style="margin-left:-60px; margin-top:2px;" >
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputMaterial" class="col-sm-4 control-label">泄露物质</label>
                    <div class="col-sm-8">
                        <!--<input type="number" class="form-control" id="inputEmail3" placeholder="1">-->
                        <select class="form-control input-sm" id="inputMaterial" >
                            <option>无水氯</option>
                            <option>三氧化硼</option>
                            <option>煤气</option>
                            <option>氰</option>
                            <option>氯</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAreal" class="col-sm-4 control-label">泄露面积</label>
                    <div class="col-sm-8">
                        <!--<input type="number" class="form-control" id="inputEmail3" placeholder="1">-->
                        <select class="form-control input-sm" id="inputAreal" >
                            <option>大</option>
                            <option>小</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTime" class="col-sm-4 control-label">泄露时间</label>
                    <div class="col-sm-8">
                        <select class="form-control input-sm" id="inputTime">
                            <option>白天</option>
                            <option>晚上</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">风向偏北</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control input-sm" id="inputEmail3" name="num" placeholder="偏北角度" value="90">
                    </div>
                </div>
            </form>
            <div class="text-center col-sm-offset-1">
                <button class="btn btn-sm btn-primary" id="analysePoint" @click="setERGgraphic">
                    <i class="fa fa-question"></i> 事发点作为泄漏点
                </button>
                <!--<button class="btn btn-sm btn-warning">-->
                    <!--<i class="fa fa-phone"></i> 选择泄漏点-->
                <!--</button>-->
                <button class="btn btn-sm btn-warning" @click="btnCleanResult">
                    <i class="fa fa-phone"></i> 清除结果
                </button>
            </div>
        </div>
    </div>

</div>